html {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("../images/WellofAllSparks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#counter {
    border: 3px solid purple;
    border-radius: 12%;
    background-color: rgb(134, 61, 134);
}

#question :first-child{
    border: 3px solid lightblue;
    background-color: aqua;
    padding: 11px;
}

#pointbox {
    border: 3px solid red;
    border-radius: 12%;
    background-color: rgb(253, 127, 127);
}

#logo {
    max-height: 130px;
    max-width: 100%;
}

.answerbox{
    background-color: white;
    border: 3px solid lightblue;
    border-radius: 13.5%;
}

.answer {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-weight: bolder;
    flex: 0 0 auto;
    width: 99.5%;
}

#image {
    flex: 0 0 auto;
    height: auto;
    width: auto;
}

#picture {
    max-height: 40vh;
    max-width: 100%;
}

#pointbox *, #counter * {
    font-weight: bold;
    text-align: center;
    margin: 3px;
}

#autobot, #decepticon {
    max-height: 15vh;
    max-width: 100%;
}

.wrong {
    background-color: red;
    border-color: black;
}

.correct {
    background-color: greenyellow;
    border-color: green;
}

#footer {
    color: white;
    position: absolute;
    bottom:0px;
    margin-left: 1vw;
}

ul { 
    display: none; 
}

#final_score {
    background-color: teal;
    border: white solid 5px;
    color: white;
    font-size: larger;
}

.high_score {
    font-weight: bold;
    border-radius: 25%;
    background-color: aliceblue;
    color: goldenrod;
}

.good_score {
    background-color: red;
    border-radius: 25%;
    color: white;
    font-weight: bold;
}

.low_score {
    background-color: rgb(134, 61, 134);
    border-radius: 25%;
    color: white;
    font-weight: bold;
}

.no_score {
    font-weight: bold;
    border-radius: 25%;
    background-color: black;
    color: orangered;
}

#retry {
    background-color: aquamarine;
    border: 2px solid brown;
}