html {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url("images/WellofAllSparks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#counter {
    border: 3px solid purple;
}

#question {
    background-color: aqua;
}

#points {
    border: 3px solid red;
}

#logo {
    height: 130px;
    width: 825px;
}
